* {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

footer {
	position: fixed;
  bottom: 0;
  width: 100%;
}

body {
	background: #5e5050;
	width:100%;
}

.snippets-container {
	width:100vw;
	padding-bottom:100px;
}

.snippets-container-new {
	width:50%;
	justify-content: center;
}

.showSnippetContent {
	resize: none;
	overflow-y: scroll;
	height:10rem;
}

@media only screen and (max-width: 700px) {
	.snippets-container-new {
		width:100%;
		justify-content: center;
	}
}

.card-img {
	height: 70px !important;
	width: 70px !important;
	position: absolute;
	right: 1em !important;
}

.card {
	min-width:313px !important;
	max-width:600px !important;
}