<footer class="bg-dark text-light text-center text-lg-start">
  <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2)">
    <p>By Sebastian Åkerblom<br>sa224ny@student.lnu.se</p>
  </div>
</footer>